<div class="row">
  <div class="col text-center">
    <h4>Choose a Party</h4>
  </div>
</div>
<div class="row">
  <div class="col-12" *ngFor="let party of parties" (click)="selected(party)">
    <div class="card text-center mb-2" [class.selected]="selectedParty && party.id == selectedParty.id">
      <div class="card-body">
        <span class="party-name">{{party.name}}</span>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 mb-2">
    <button class="btn btn-block btn-primary" (click)="createParty()">Create New Party</button>
  </div>

  <div class="col-12">
    <button class="btn btn-block btn-sm btn-danger" (click)="resetPartyList()">Reset</button>
  </div>
</div>


