
.card {
  background-color: #f8f9fa;
  border-color: #dae0e5;
}

.card :hover {
  cursor: pointer;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.selected {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #fff;
}

.selected :hover {
  background-color: #138496;
  border-color: #117a8b;

}

