<div class="container mt-4">
  <div class="row mb-2">
    <div class="col-12">
      <h1 class="display-4">Secret Santa Matcher</h1>
      <hr class="hr">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-party-list (selectedPartyChanged)="selectedParty.next($event)"
                      [updateParties]="updateParties"></app-party-list>
    </div>

    <div class="col-md-9">
      <app-party [selectedPartyChanged]="selectedParty" (updateParties)="updateParties.next()"></app-party>
    </div>
  </div>
</div>
