<div class="row">
  <div class="col-12">
    <div *ngIf="selectedParty != null">
      <h4>Secret Santa Party</h4>
      <input class="form-control" type="text" [(ngModel)]="selectedParty.name">

      <h4 class="mt-5">People: </h4>

      <div class="mb-2" *ngFor="let person of selectedParty.people; let i = index"><app-person [person]="person" [index]="i" (removePerson)="removePerson(i)"></app-person></div>
      <button class="btn btn-sm btn-secondary" (click)="addPerson()">Add Person</button>

      <hr class="hr my-4">

      <h4 class="mt-4">Exclusions: </h4>

      <div class="row" *ngFor="let exclusionGroup of selectedParty.exclusionGroups; let i = index">
        <div class="col-12 mt-2">
          <h5>Group {{i}}:</h5>
          <app-exclusion-group [exclusionGroup]="exclusionGroup" [people]="selectedParty.people" (exclusionRemoved)="removeExcludedPerson(i, $event)"></app-exclusion-group>
        </div>
      </div>

      <button class="btn btn-sm btn-secondary" (click)="addExclusionGroup()">Add Exclusion Group</button>

      <hr class="hr my-4">

      <button class="btn btn-primary"(click)="getMatches()">Save and Get Matches</button>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <div *ngIf="giftExchanges != null">
      <table class="table table-striped">
        <tr>
          <th>Giver</th>
          <th></th>
          <th>Recipient</th>
        </tr>
        <tr *ngFor="let exchange of giftExchanges">
          <td>{{exchange.giver.firstName}} {{exchange.giver.lastName}}</td>
          <td>-></td>
          <td>{{exchange.recipient.firstName}} {{exchange.recipient.lastName}}</td>
        </tr>
      </table>
    </div>

    <div class="bg-warning p-3" *ngIf="noMatchExists">No matching exists for this party. Try adding more people or removing exclusions.</div>
  </div>
</div>

