
<div class="input-group">
  <input class="form-control" [(ngModel)]="person.firstName" placeholder="First Name">
  <input class="form-control" [(ngModel)]="person.lastName" placeholder="Last Name">
  <div class="input-group-append">
    <button class="btn-outline-secondary btn" (click)="removePerson.emit(index)">Remove</button>
  </div>
</div>
