<div class="row">
  <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let personIndex of exclusionGroup.peopleIndexes">
    <div class="card text-center">
      <div class="card-body">
        <div class="person">{{people[personIndex].firstName}} {{people[personIndex].lastName}}</div>
        <button class="btn btn-outline-secondary btn-sm mt-2" (click)="removeExclusion(personIndex)">Remove</button>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <select class="form-control form-control-sm" [(ngModel)]="indexToAdd" name="personAdd">
          <ng-container *ngFor="let person of people; let i = index">
            <option  [ngValue]="i" *ngIf="! exclusionGroup.peopleIndexes.includes(i)">{{person.firstName}} {{person.lastName}}</option>
          </ng-container>
        </select>
        <button class="btn btn-outline-primary btn-sm mt-2" (click)="addExclusion(indexToAdd)">Add</button>

      </div>
    </div>
  </div>
</div>
